<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
   <category label="General">
      <setting type="lsep" label="URL settings"/>
      <setting type="bool" label="Retry backup" id="retry_backup" default="false" />
      <setting type="lsep" label="Advanced Settings: Please restart the addon after editing Base URL"/>
      <setting type="text" label="Base URL" id="base_url" default="https://" />
   </category>
</settings>